<tr>
  <td>
    <%= link_to title_path(title.id), class: "btn btn-default" do %>
      <i class="fa fa-eye"></i>
    <% end %>

    <%= link_to title_path(title.id), method: :delete, class: "btn btn-default" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>

  <td><%= title.name %></td>
  <td><%= link_to title.url, title.url %></td>
</tr>
